@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 12px;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .spaceBetween {
    justify-content: space-between;
  }
  
  .alignCenter {
    align-items: center;
  }
  
  .gap {
    gap: 15px;
  }
  
  .container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  /* Taille */
.w35 {
    width: 35%;
  }
  
  .w20 {
    width: 20%;
  }
  .w60 {
    width: 60%;
  }
  /* Titres */
h2 {
    color: #ff6f61;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  
  h3 {
    color: var(--primary, #ff6f61);
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }
  /* Header */
header {
  padding-top: 15px;
  margin-bottom: 45px;
}

.logo {
  width: 10%;
}

nav {
  width: 100%;
  background-color: #f6f6f6;
  margin-top: 15px;
}

nav ul {
  padding: 10px 0;
  width: 40%;
  margin: auto;
  color: #000;
  font-family: Inter;
  font-size: 14px;
}

/* SEARCH BAR */
/* From Uiverse.io by joe-watson-sbf */
.search {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 30px;
  background-color: #f4f2f2;
  padding: 5px 15px;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: #646464;
  padding: 5px 0px;
  width: 100%;
  background-color: #f4f2f2;
}

.search__icon {
  font-size: 12px;
  color: #ff6f61;
  margin-right: 15px;
}




